@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #231616;
  --color-primary: #c33b3b;
  --color-primary-500: #d95a5a;
  --color-primary-400: #e78282;
  --color-primary-300: #f1b0b0;
  --color-primary-200: #f7d1d1;
  --color-primary-100: #fae6e6;
  --color-primary-50: #fcf4f4;
  --color-secondary: #9c2a2a;
  --color-text-main: #ffffff;
  --color-text-muted: #c9bfc0;
  --color-border: #332020;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Space Grotesk", sans-serif;

  --background-accent-gradient: linear-gradient(
    90deg,
    #c33b3b 0%,
    #9c2a2a 100%
  );
}

@utility bg-vignette {
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(18, 18, 18, 1) 100%
    ),
    var(--color-background);
}

.shadow-glow {
  text-shadow: 0 0 10px rgba(195, 59, 59, 0.6);
}

html {
  scroll-behavior: smooth;
}

/* For modern browsers */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll; /* ensures consistent layout */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}
